<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>浙江好E生</title>
  <meta name="version" content="<%= htmlWebpackPlugin.options.version %>">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="static/css/weui1.css"/>
  <script type="text/javascript" src="static/js/url.min.js"></script>
  <script type="text/javascript" src="static/js/md5-min.js"></script>
  <script type="text/javascript" src="static/js/sha512.min.js"></script>
  <script type="text/javascript" src="static/js/socket.io.js"></script>
  <script type="text/javascript" src="static/js/d3-queue.min.js"></script>
  <script>
    /*程序版本号*/
    window.version = document.querySelector("meta[name='version']").content;
    /*程序开始时间*/
    window.appStartTime = new Date().getTime();
  </script>

</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
<script>
  if (window.device == "iphone" || window.device == "android") {
    var w = window.innerWidth;
    document.querySelector('html').style.fontSize = (w / 20) + 'px';
  }
</script>
</html>
