.border-1px {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(225, 225, 225);
    content: '';
  }
}

.border-1px-right {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    //width:0;
    height: 100%;
    border-right: 1px solid rgb(225, 225, 225);
    //transfrom:rotate(90deg);
    //-webkit-transform-origin: 0 0;
    //transform-origin: 0 0;
    content: '';
  }
}

.border-1px-top {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgb(225, 225, 225);
    content: '';
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px-right {
    &::after {
      -webkit-transform: scaleX(0.7);
      transform: scaleX(0.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px-right {
    &::after {
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px-top {
    &::after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px-top {
    &::after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}

/*mixin and function*/
@mixin h_lh($h,$px2rem:false) {
  @if ($px2rem==true) {
    height: $h; /*no*/
    line-height: $h; /*no*/
  } @else {
    height: $h;
    line-height: $h;
  }

}

@mixin border($pos:bottom,$color:#ccc,$weilei:after,$type:solid,$weight:1px) {
  & {
    position: relative;
  }
  &::#{$weilei} {
    display: block;
    content: "";
    position: absolute;
  }
  @if ($pos==bottom) {
    &::#{$weilei} {
      left: 0;
      bottom: 0;
      width: 100%;
      transform: scaleY(0.5);
      transform-origin: 100% 100%;
      @if ($weight==1px) {
        height: $weight; /*no*/
        border-bottom: $weight $type $color; /*no*/
      } @else {
        height: $weight;
        border-bottom: $weight $type $color;
      }
    }
  }

  @if ($pos==top) {
    &::#{$weilei} {
      left: 0;
      top: 0;
      width: 100%;
      transform: scaleY(0.5);
      transform-origin: 0 0;
      @if ($weight==1px) {
        border-top: 1px $type $color; /*no*/
        height: 1px; /*no*/
      } @else {
        border-top: $weight $type $color;
        height: $weight;
      }

    }
  }

  @if ($pos==right) {
    &::#{$weilei} {
      right: 0;
      top: 0;
      height: 100%;
      border-right: 1px $type $color; /*no*/
      transform: scaleX(0.5);
      transform-origin: 100% 0;
    }
  }

  @if ($pos==left) {
    &::#{$weilei} {
      left: 0;
      top: 0;
      height: 100%;
      border-left: $weight $type $color; /*no*/
      transform: scaleX(0.5);
      transform-origin: 0 0;
      @if ($weight==1px) {
        border-left: $weight $type $color; /*no*/
      } @else {
        border-left: $weight $type $color;
      }
    }
  }
}

@mixin t_r_b_l($top:0,$right:0,$bottom:0,$left:0) {
  @if ($top==0) {
    top: 0;
  }
  @if ($right==0) {
    right: 0;
  }
  @if ($bottom==0) {
    bottom: 0;
  }
  @if ($left==0) {
    left: 0;
  }
}

@mixin w_h($w,$h) {
  width: $w;
  height: $h;
}

@mixin backgroundImageSet($w:100%,$h:100%,$x:center,$y:center,$repeat:no-repeat) {
  background-position: $x $y;
  background-repeat: $repeat;

  @if ($h!=0) {
    background-size: $w $h;
  } @else {
    background-size: $w;
  }
}

@mixin thumb($w,$h) {
  @include w_h($w, $h);
  img {
    @include w_h($w, $h);
  }
}

@mixin ava($w) {
  @include w_h($w, $w);
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: $w/2;
  img {
    width: $w;
  }
}

@mixin lines($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@function px2rem($px) {
  @return (20/375)*($px/1px)*1rem;
}


