@import './var.scss';
@import "base";
@import "./mixin.scss";

html {
  margin: 0;
  padding: 0;
  font-family: PingFangSC;
}

li {
  list-style-type: none;
}

.nodata {
  @include t_r_b_l();
  top: 50%;
  a {
    color: $mainColor;
  }
}

.color_999 {
  color: #999899;
}

%a{
  margin: 0 auto;
  display: block;
  width: px2rem(630px, 750);
  @include h_lh(px2rem(80px, 750));
  color: white;
  background-color: $mainColor;
}
