@import './var.scss';
@import "base";
@import "./mixin.scss";

@font-face {
  font-family: 'iconfont';  /* project id 324914 */
  src: url('//at.alicdn.com/t/font_324914_9zsly1h4igdgqfr.eot');
  src: url('//at.alicdn.com/t/font_324914_9zsly1h4igdgqfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_324914_9zsly1h4igdgqfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_324914_9zsly1h4igdgqfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_324914_9zsly1h4igdgqfr.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont';
}

html {
  margin: 0;
  padding: 0;
  font-family: PingFangSC;
}

li {
  list-style-type: none;
}

.nodata {
  @include t_r_b_l();
  padding-top: px2rem(500px, 1080);
  a {
    color: $mainColor;
  }
}

.lh1 {
  line-height: 1;
}

.fs14{
  font-size: 14px;
}

.fs16{
  font-size: 16px;
}

.fs18{
  font-size: 18px;
}

.color_999 {
  color: #999999;
}

.color_777 {
  color: #777;
}

.color_666 {
  color: #666;
}

.color_333 {
  color: #333;
}

.bg {
  background-color: $bgColor;
}

.bg_white {
  background-color: white;
}

.radius50 {
  border-radius: 50%;
}

%a {
  margin: 0 auto;
  display: block;
  width: px2rem(630px, 750);
  @include h_lh(px2rem(80px, 750));
  color: white;
  background-color: $mainColor;
}

.overflow-touch {
  -webkit-overflow-scrolling: touch;
}

.font-size-h3 {
  font-size: px2rem(17px);
}
