@import './var.scss';
@import "base";
@import "./mixin.scss";

@font-face {
  font-family: 'iconfont';  /* project id 324914 */
  src: url('//at.alicdn.com/t/font_324914_feydsn1vm98me7b9.eot');
  src: url('//at.alicdn.com/t/font_324914_feydsn1vm98me7b9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_324914_feydsn1vm98me7b9.woff') format('woff'),
  url('//at.alicdn.com/t/font_324914_feydsn1vm98me7b9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_324914_feydsn1vm98me7b9.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont';
}

html {
  margin: 0;
  padding: 0;
  font-family: PingFangSC;
}

li {
  list-style-type: none;
}

.nodata {
  @include t_r_b_l();
  padding-top: px2rem(500px, 1080);
  a {
    color: $mainColor;
  }
}

.lh1 {
  line-height: 1;
}

.fs10 {
  font-size: 10px;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.color_main {
  color: $mainColor;
}

.color_999 {
  color: #999999;
}

.color_777 {
  color: #777;
}

.color_666 {
  color: #666;
}

.color_333 {
  color: #333;
}

.bg {
  background-color: $bgColor;
}

.bg_white {
  background-color: white;
}

.radius50 {
  border-radius: 50%;
}

%a {
  margin: 0 auto;
  display: block;
  width: px2rem(630px, 750);
  @include h_lh(px2rem(80px, 750));
  color: white;
  background-color: $mainColor;
}

.overflow-touch {
  -webkit-overflow-scrolling: touch;
}

.font-size-h3 {
  font-size: px2rem(17px);
}

.aboutNumber {
  width: 690rem/$rem;
  margin: 0 auto;
  background-color: white;
  .formContent {
    width: 690rem/$rem;
    margin: 0 auto;
    margin-top: 10px;
    .form {
      width: 100%;
      height: 90rem/$rem;
      line-height: 40px;
      display: flex;
      margin-top: 1px;
      label {
        flex: 0 0 auto;
        width: 50px;
        font-size: 16px;
        padding-left: 1rem;
        font-size: 32rem/$rem;
        color: #333333;
        /*<!--background-color: $bgColor2;-->*/
      }
      label.phoneLabel {
        border-top-left-radius: 7px;
        display: flex;
        align-items: center;
        .nameImg {
          width: 48rem/$rem;
          height: 45rem/$rem;
        }
        .idImg {
          width: 49rem/$rem;
          height: 41rem/$rem;
        }
      }
      label.codeLabel {
        border-bottom-left-radius: 7px;
        display: flex;
        align-items: center;
        img {
          width: 44rem/$rem;
          height: 49rem/$rem;
        }
      }
      input {
        flex: 1 1 auto;
        border: none;
        outline: medium;
        font-size: 32rem/$rem;
        color: #999999;
        /*<!--background-color: $bgColor2;-->*/
      }
      input.codeInput {
        border-bottom-right-radius: 7px;
      }
      p {
        flex: 1;
        font-size: 32rem/$rem;
        color: #999999;
        background-color: $bgColor2;
        border-top-right-radius: 7px;
      }
    }
    .phone {
      /*margin-top: 20px;*/
    }
    .verifyCode {
      position: relative;
    }
    .verifyCode button {
      position: absolute;
      top: 5px;
      right: 0;
      height: 30px;
      line-height: 30px;
      width: 100px;
      border: none;
      outline: medium;
      border-radius: 7px;
      font-size: 32rem/$rem;
      color: white;
      background-color: $buttonColor;
    }
  }
  .buttonWrap {
    width: 690rem/$rem;
    margin: 0 auto;
    height: 90rem/$rem;
    margin-top: 69rem/$rem;
    text-align: center;
  }
  button.bottom {
    width: 650rem/$rem;
    height: 90rem/$rem;
    border: none;
    outline: medium;
    border-radius: 22px;
    color: white;
    font-size: 36rem/$rem;
    background-color: $buttonColor;
  }
}
