$mainColor:#2AB6B3;
$assistColorBrown:#FABE00;
$assistColorPink:#F4888C;
$assistWordBrown:#FAAC79;
$assistWordBlue:#7CB1FA;
$bgColor:#F0F0F0;
$bgColor1:#F5F5F5;
$bgColor2:#F0F5F5;
$fontColorBlack:#333333;
$fontColorMiddle:#666666;
$fontColorLow:#999999;
$borderColor:#DDDDDD;
$buttonColor:#30CFD0;
$buttonClickedColor:#2AB6B3;


$commonSpace:15px;

$rem:37.5;
.bf{
  font-size: 32rem/$rem;
}
.mfc{
  font-size: 28rem/$rem;
  color: #999999;
}
.mf{
  font-size: 28rem/$rem;
}
.lf{
  font-size: 22rem/$rem;
}



